charset"UTF-8";
h1{
 color:blue;
 font-size:228.2px; 
 line-height:0px;
 
}
body{
background-color:white;
background-image:url(../img/IMG_0424.JPG);
background-repeat: no-repeat no-repeat;
background-size:1080px 480px;
}

div.sample {
width:200px; height:480px;
margin:10px 0px 10px auto; 
background-color:white;
}

a{
color:gray;
}
a:hover{
color:red;
}

footer{
position-bottom:0px;
}
