charset"UTF-8";
h1{
 color:blue;
 text-align:center;
 font-size:228.2px; 
 line-height:0px;
}
body{
background-color:white;
background-image:url(../img/Dash.png);
background-repeat: no-repeat no-repeat;

}
a{
position:fixed; bottom:10px; left:10px;
color:gray;
}
a:hover{
position:fixed; bottom:10px; left:10px;
color:red;
}
