charset"UTF-8";
h1{
 color:blue;
 font-size:228.2px; 
 line-height:0px;
}
body{
background-color:white;
background-image:url(../img/IMG_0424.JPG);
width:50%;
height:50%;
background-repeat: no-repeat no-repeat;
}

div.sample {
width:200px; height:1000px;
position-top:10px;
position-right:10px;
margin:5px; padding-right:10px; border:1px solid black;
background-color:gray;
}

a{
position:fixed; bottom:50px; left:10px;
color:gray;
}
a:hover{
position:fixed; bottom:50px; left:10px;
color:red;
}

footer{
position-bottom:0px;
}
